<html lang='en'>

    <head>
        <meta charset='UTF-8' />
        <meta name='viewport' content='width=device-width, initial-scale=1.0' />
        <link rel='stylesheet' href='/static/css/outputStyles.css' />
        <script src='/static//js/app.js' defer></script>
        <title>Express TS</title>
    </head>

    <body>
        <div class='min-h-full'>
            <nav class='bg-gray-800 relative z-50'>
                <div class='mx-auto max-w-7xl px-4 sm:px-6 lg:px-8'>
                    <div class='flex h-16 items-center justify-between'>
                        <div class='flex items-center'>
                            <div class='shrink-0'>
                                <img
                                    class='size-8'
                                    src='https://tailwindui.com/plus/img/logos/mark.svg?color=indigo&shade=500'
                                    alt='Your Company'
                                />
                            </div>
                            <div class='hidden md:block'>
                                <div class='ml-10 flex items-baseline space-x-4'>
                                    <!-- Current: "bg-gray-900 text-white", Default: "text-gray-300 hover:bg-gray-700 hover:text-white" -->
                                    <a
                                        href='/'
                                        class='rounded-md px-3 py-2 text-sm font-medium text-gray-300 hover:bg-gray-700 hover:text-white'
                                        aria-current='page'
                                    >Home</a>
                                    <a
                                        href='/cars'
                                        class='rounded-md px-3 py-2 text-sm font-medium text-gray-300 hover:bg-gray-700 hover:text-white'
                                    >Cars</a>
                                    {{#if hasUser}}
                                        <a
                                            href='/add-car'
                                            class='rounded-md px-3 py-2 text-sm font-medium text-gray-300 hover:bg-gray-700 hover:text-white'
                                        >Add car</a>
                                    {{/if}}
                                </div>
                            </div>
                        </div>
                        <div class='hidden md:block'>
                            <div class='ml-4 flex items-center md:ml-6'>
                                {{#if hasUser}}
                                    <a
                                        href='/sign-out'
                                        class='rounded-md px-3 py-2 text-sm font-medium text-gray-300 hover:bg-gray-700 hover:text-white'
                                        aria-current='page'
                                    >Sign Out</a>
                                {{else}}
                                    <a
                                        href='/login'
                                        class='rounded-md px-3 py-2 text-sm font-medium text-gray-300 hover:bg-gray-700 hover:text-white'
                                        aria-current='page'
                                    >Sign In</a>
                                {{/if}}
                            </div>
                        </div>
                        <div class='-mr-2 flex md:hidden'>
                            <!-- Mobile menu button -->
                            <button
                                type='button'
                                class='relative inline-flex items-center justify-center rounded-md bg-gray-800 p-2 text-gray-400 hover:bg-gray-700 hover:text-white focus:ring-2 focus:ring-white focus:ring-offset-2 focus:ring-offset-gray-800 focus:outline-hidden'
                                aria-controls='mobile-menu'
                                aria-expanded='false'
                                id='open-menu-btn'
                            >
                                <span class='absolute -inset-0.5'></span>
                                <span class='sr-only'>Open main menu</span>
                                <!-- Menu open: "hidden", Menu closed: "block" -->
                                <svg
                                    class='block size-6'
                                    fill='none'
                                    viewBox='0 0 24 24'
                                    stroke-width='1.5'
                                    stroke='currentColor'
                                    aria-hidden='true'
                                    data-slot='icon'
                                >
                                    <path
                                        stroke-linecap='round'
                                        stroke-linejoin='round'
                                        d='M3.75 6.75h16.5M3.75 12h16.5m-16.5 5.25h16.5'
                                    />
                                </svg>
                                <!-- Menu open: "block", Menu closed: "hidden" -->
                                <svg
                                    class='hidden size-6'
                                    fill='none'
                                    viewBox='0 0 24 24'
                                    stroke-width='1.5'
                                    stroke='currentColor'
                                    aria-hidden='true'
                                    data-slot='icon'
                                >
                                    <path stroke-linecap='round' stroke-linejoin='round' d='M6 18 18 6M6 6l12 12' />
                                </svg>
                            </button>
                        </div>
                    </div>
                </div>

                <!-- Mobile menu, show/hide based on menu state. -->
                <div class='hidden md:hidden' id='mobile-menu'>
                    <div class='space-y-1 px-2 pt-2 pb-3 sm:px-3'>
                        <!-- Current: "bg-gray-900 text-white", Default: "text-gray-300 hover:bg-gray-700 hover:text-white" -->
                        <a
                            href='/'
                            class='block rounded-md px-3 py-2 text-base font-medium text-gray-300 hover:bg-gray-700 hover:text-white'
                        >Home</a>
                        <a
                            href='/cars'
                            class='block rounded-md px-3 py-2 text-base font-medium text-white'
                            aria-current='page'
                        >Cars</a>
                        {{#if hasUser}}
                            <a
                                href='/add-car'
                                class='block rounded-md px-3 py-2 text-base font-medium text-gray-300 hover:bg-gray-700 hover:text-white'
                            >Add car</a>
                        {{/if}}
                    </div>
                    <div class='border-t border-gray-700 pt-4 pb-3'>

                        <div class='mt-0 space-y-1 px-2'>
                            {{#if hasUser}}
                                <a
                                    href='/sign-out'
                                    class='block rounded-md px-3 py-2 text-base font-medium text-gray-400 hover:bg-gray-700 hover:text-white'
                                >Sign out</a>
                            {{else}}
                                <a
                                    href='/login'
                                    class='block rounded-md px-3 py-2 text-base font-medium text-gray-400 hover:bg-gray-700 hover:text-white'
                                >Sign In</a>
                            {{/if}}
                        </div>
                    </div>
                </div>
            </nav>

            {{#if title}}
                <header class='bg-white shadow-sm'>
                    <div class='mx-auto max-w-7xl px-4 py-6 sm:px-6 lg:px-8'>
                        <h1 class='text-3xl font-bold tracking-tight text-gray-900'>{{title}}</h1>
                    </div>
                </header>
            {{/if}}
            <main class='relative'>
                {{#if errors}}
                    <div class='errors absolute top-5 right-5 max-w-sm z-50 bg-gray-200 text-red-400 p-3 rounded'>
                        {{#each errors}}
                            <p>{{this}}</p>
                        {{/each}}
                    </div>
                {{/if}}
                <div class='mx-auto max-w-7xl px-4 py-6 sm:px-6 lg:px-8'>
                    {{{body}}}
                </div>
            </main>
        </div>
    </body>

</html>