<div class='bg-white'>
    <div
        class='mx-auto grid max-w-2xl grid-cols-1 items-center gap-x-8 gap-y-16 px-4 py-6 sm:px-6 sm:py-4 lg:max-w-7xl lg:grid-cols-2 lg:px-8'
    >
        <div>
            <h2 class='text-3xl font-bold tracking-tight text-gray-900 sm:text-4xl'>{{car.brand}} {{car.model}}</h2>
            <p class='mt-4 text-gray-500'>{{car.description}}</p>

            <dl class='mt-16 grid grid-cols-1 gap-x-6 gap-y-10 sm:grid-cols-2 sm:gap-y-16 lg:gap-x-8'>
                <div class='border-t border-gray-200 pt-4'>
                    <dt class='font-medium text-gray-900'>Engine</dt>
                    <dd class='mt-2 text-sm text-gray-500'>{{car.engine}}</dd>
                </div>
                <div class='border-t border-gray-200 pt-4'>
                    <dt class='font-medium text-gray-900'>Engine type/fuel used</dt>
                    <dd class='mt-2 text-sm text-gray-500'>{{car.fuel}}</dd>
                </div>
                <div class='border-t border-gray-200 pt-4'>
                    <dt class='font-medium text-gray-900'>Dimensions</dt>
                    <dd class='mt-2 text-sm text-gray-500'>{{car.dimensions}}</dd>
                </div>
                <div class='border-t border-gray-200 pt-4'>
                    <dt class='font-medium text-gray-900'>Dours</dt>
                    <dd class='mt-2 text-sm text-gray-500'>{{car.doors}} dours</dd>
                </div>
                <div class='border-t border-gray-200 pt-4'>
                    <dt class='font-medium text-gray-900'>Wheels</dt>
                    <dd class='mt-2 text-sm text-gray-500'>{{car.wheels}}</dd>
                </div>
                <div class='border-t border-gray-200 pt-4'>
                    <dt class='font-medium text-gray-900'>Tuning</dt>
                    <dd class='mt-2 text-sm text-gray-500'>{{car.tuning}}</dd>
                </div>
            </dl>
        </div>
        <div>
            <img src='{{car.imageUrl}}' alt='{{car.brand}} {{car.model}}' class='rounded-lg bg-gray-100' />
        </div>
    </div>
</div>